* {
    transition: ease-in-out 0.1s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
}

.product {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 205, 41);
    cursor: default;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
}


/* .product:hover {
    background-color: rgb(255, 212, 72);
} */

#productImg {
    width: 200px;
    align-items: center;
    padding-top: 25px;
}

.price {
    color: rgb(64, 119, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

.productName {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

#buttons {
    margin-top: 10px;
    text-align: center;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: rgb(255, 242, 167);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(255, 234, 113);
}

.moneyContainer {
    background-color: rgb(255, 196, 0);
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 21px;
    padding-top: 5px;
    cursor: default;
}

.moneyContainer:hover {
    background-color: rgb(255, 210, 61);
}

#myMoneys {
    margin-left: 4px;
}

.productsContainer {
    background-color: rgb(52, 189, 70);
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    cursor: default;
    color: aliceblue;
}

#myProducts-z {
    display: none;
}

#productsContainer2 {
    display: none;
}


/* #product1 {
    opacity: 0.7;
} */

.productCountContainer {
    margin-top: 2px;
}


/* .celledProducts {} */

#celledProducts1,
#celledProducts2,
#celledProducts3,
#celledProducts4,
#celledProducts5,
#celledProducts6,
#celledProducts7,
#celledProducts8,
#celledProducts9,
#celledProducts10 {
    display: none;
}